html{
  height: 100vh;
}
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color:#424250;
  color:#fff;
  font-family:'Courier New', Courier, monospace;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

